.system-levels {
  /*background-color: black;*/
  /*padding: 20px 10px;*/
  flex-grow: 1;
  font-family: RobotoCondensed;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  transition: 0.35s ease all;
}


.background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  object-fit: cover;
}

.background-image-enter {
  opacity: 0;
}
.background-image-enter-active {
  opacity: 1;
  transition: opacity 0.35s ease-in;
}
.background-image-exit {
  opacity: 1;
}
.background-image-exit-active {
  opacity: 0;
  transition: opacity 0.35s ease-out;
}

.bg-skin-1 {
  background-image: url('/bg1-skin.png');
}

.bg-skin-2 {
  background-image: url('/bg2-skin.png');
}

.bg-skin-3 {
  background-image: url('/bg3-skin.webp');
}

.bg-skin-4 {
  background-image: url('/bg4-skin.webp');
}

.bg-skin-5 {
  background-image: url('/bg5-skin.png');
}

.bg-skin-6 {
  background-image: url('/bg6-skin.png');
}

.bg-skin-7 {
  background-image: url('/bg7-skin.png');
}

.kyberon-bg {
  background-image: url('/kyberon-bg-skin.webp');
}

.intelion-bg {
    background-image: url("/bg-intelion.png")
}

.title-wrapper {
  margin-top: 20px;
}

.system-levels h1 {
  position: relative;
  z-index: 5;
}

.subtitle {
  position: relative;
  z-index: 5;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.slider-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  /*height: 100%;*/
}

