.settings {
  padding: 20px 10px;
  flex-grow: 1;
  font-family: RobotoCondensed;
  background: var(--gray);
  /*font-weight: 500;*/
}

.settings h1 {
  margin-bottom: 20px;
}


.switch-wrapper {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--orange);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--orange);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
}

.link {
  display: block;
  text-align: center;
  opacity: 0.65;
}

