.fortune-wheel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  /*background-image: url('/fortune-wheel-background.webp');*/
  /*background-position: center -150px;*/
  /*background-size: 100%;*/
  position: relative;
}

.fortune-wheel > div {
  display: flex;
  flex-grow: 1 !important;
}

.fortune-wheel > div > div {
  position: absolute;
  height: 85vh !important;
}



.spin-button img {
  filter: invert(1);
}




.rules-button {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 100px;
  right: 20px;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 8px;
}

.rules-button img {
  filter: invert(1);
}

.spin-button {
  background: linear-gradient(45deg, var(--orange), #ffb44b);
  border-radius: 25px;
  padding: 7px 35px;
  /*margin: 0 auto;*/
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  line-height: 1;
  box-shadow: 0 0 10px 5px var(--orange);
  transition: 0.35s ease all;
}

.buy-spins-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  gap: 7px;
  transform: translateX(-50%);
  background: var(--green);
  color: #1c1c1c;
  font-size: 14px;
  border-radius: 25px;
  padding: 7px 35px;
  line-height: 1;
  /*width: 100px;*/
}

.disabled-button {
  background: linear-gradient(45deg, gray, #696969);
  cursor: not-allowed;
  box-shadow: initial;
  transition: 0.35s ease all;
  pointer-events: none;
}