.fortune-wheel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-image: url('/fortune-wheel-background.webp');
  background-position: center -150px;
  background-size: 100%;
  position: relative;
}

.fortune-wheel > div {
  display: flex;
  flex-grow: 1 !important;
}

.fortune-wheel > div > div {
  position: absolute;
  height: 85vh !important;
}

.tickets {
  /*display: block !important;*/
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
  position: absolute;
  top: 100px;
  left: 25px;
  z-index: 55;
}

.tickets div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid var(--orange);
  padding: 3px 7px;
  /*flex-basis: 200px;*/
}



.spin-button img {
  filter: invert(1);
}

.winning-popup {
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.winning-popup-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.get-reward {
  background: var(--orange);
  padding: 5px 15px;
  border-radius: 25px;
  margin-top: 30px;
}

.rules-button {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 100px;
  right: 20px;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 8px;
}

.rules-button img {
  filter: invert(1);
}

.spin-button {
  background: linear-gradient(45deg, var(--orange), #ffb44b);
  border-radius: 25px;
  padding: 7px 35px;
  /*margin: 0 auto;*/
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  line-height: 1;
}

.buy-spins-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  gap: 7px;
  transform: translateX(-50%);
  background: var(--green);
  color: #1c1c1c;
  font-size: 14px;
  border-radius: 25px;
  padding: 7px 35px;
  line-height: 1;
  /*width: 100px;*/
}