.game-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
  font-weight: bold;
  min-height: 100vh;
  max-width: 36rem;
  width: 100%;
  color: white;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.timber {
  background-image: url('./images/bears/timber/game-background.webp');
  background-size: cover;
}

.brickn {
  background-image: url('./images/bears/brickn/game-background.webp');
  background-size: cover;
}

.aztron {
  background-image: url('./images/bears/aztron/game-background.webp');
  background-size: cover;
}

.brizzy {
  background-image: url('./images/bears/brizzy/game-background.webp');
  background-size: cover;
  background-position: top;
}

.neyon {
  background-image: url('./images/bears/neyon/game-background.webp');
  background-size: cover;
}

.mickey {
  background-image: url('./images/bears/mickey/game-background.webp');
  background-size: cover;
}


.kyberon {
  background-image: url('./images/bears/kyberon/game-background.webp');
  background-size: cover;
}

.intelion {
  background-image: url('./images/bears/intelion/game-background.webp');
  background-size: cover;
}

.background-image-airdrop {
  background-image: url('/airdrop-bg.webp');
  background-size: cover;
}

.top-glow {
  box-shadow: 0 -26px 20px rgba(243, 186, 47, 0.3);
}

.point {
  position: relative;
  top: -20px;
  z-index: 99;
}

